<div class="container-fluid">
	<%= form_with model: @teacher do |f| %>
		<div class="row mx-5 mt-5 px-5">
				<div class="row mx-5 mt-3 px-5">
					<div>
					    <div class="mb-4 d-flex justify-content-center">
					    	<div class="card w-25 bg-dark border-0">
					    		<%= image_tag 'default1', style:'height:100%;width:100%;', class:"rounded-circle mb-2"%>
					    		<%= f.file_field :image ,value: :image , class:"form-control"%>
					    	</div>
						</div>
					</div>
				</div>
			
			<div class="col">
				<% if @teacher.errors.messages[:name].present? %>
					<div class="form-control border border-danger border-3">
				<% else %>
					<div class="form-control">
				<% end %>
				<%= f.text_field :name, placeholder: :Enter_your_Name, class:"form-control"%>
				</div>
				<% @teacher.errors.full_messages_for(:name).each do |message| %>
					<p class="text-danger"><%= message %></p>
				<% end %>
			</div>
			<div class="col">
				<% if @teacher.errors.messages[:email].present? %>
					<div class="form-control border border-danger border-3">
				<% else %>
					<div class="form-control">
				<% end %>
				<%= f.text_field :email, placeholder: :Enter_your_Email, class:"form-control"%>
				</div>
				<% @teacher.errors.full_messages_for(:email).each do |message| %>
						<p class="text-danger"><%= message %></p>
					<% end %>
			</div>
		</div>
		<div class="row mx-5 mt-3 px-5">
			<div class="col">
				<%= f.select :subject_id, options_for_select(Subject.all.map { |subject| [subject.name, subject.id] }), { prompt: 'Select a Subject' }, { class: 'form-select form-select-lg' } %>
			</div>
			<div class="col">
				<% if @teacher.errors.messages[:contact].present? %>
					<div class="form-control border border-danger border-3">
				<% else %>
					<div class="form-control">
				<% end %>
				<%= f.number_field :contact, placeholder: :Contact, class:"form-control"%>
				</div>
				<% @teacher.errors.full_messages_for(:contact).each do |message| %>
						<p class="text-danger"><%= message %></p>
				<% end %>
			</div>
			<div class="col">
				<div class="form-control">
					<%= f.number_field :experience, placeholder: :Experience, class:"form-control"%>
				</div>
			</div>
		</div>
		<div class="row mx-5 mt-3 px-5">
			<div class="col">
				<% if @teacher.errors.messages[:address].present? %>
					<div class="form-control border border-danger border-3">
				<% else %>
					<div class="form-control">
				<% end %>
				<%= f.text_field :address, placeholder: :Address, class:"form-control"%>
				</div>
				<% @teacher.errors.full_messages_for(:address).each do |message| %>
						<p class="text-danger"><%= message %></p>
				<% end %>
			</div>
		</div>
		<div class="row mx-5 mt-3 px-5">
			<div class="col">
				<%= f.submit class:"btn btn-primary w-25" %>
				<%= link_to :Back, teachers_path,class:"btn btn-secondary w-25"%>
			</div>
		</div>
	 <% end %>
</div>