<div class="container">
	<div class="row">
		<div class="col-12 mx-auto">
			<div class="card text-left bg-secondary">
				<div class="card-body d-flex flex-row">
					<div class="col mx-2 mt-5">
						<div class="col" style="font-size: 50px;font-weight: bold;" >
							<p>Name:-<%= @teacher.name%></p>
						</div>
						<div class="col" style="font-size: 40px;" >
							<p>Email:-<%= @teacher.email%></p>
						</div>
						<div class="col" style="font-size: 40px;" >
							<p>Subject-<%= @teacher.subject.name%></p>
						</div>
						<div class="col" style="font-size: 40px;" >
							<p>Contact:-<%= @teacher.contact%></p>
						</div>
						<div class="col" style="font-size: 40px;" >
							<p>Salary:-<%= @teacher.salary.present? ? @teacher.salary : "nil" %></p>
						</div>
					</div>
					<div class="col mx-3">
						<% if @teacher.image.attached?%>
							<%= image_tag @teacher.image, style:'height:100%;width:100%;',class:"rounded-circle" %>
						<% else %>
							<%= image_tag 'default1', style:'height:100%;width:100%;', class:"rounded-circle" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 mx-auto mt-3">
			<%= link_to :Back, :back ,class:"btn btn-primary w-25"%>
			<%= link_to :Edit, edit_teacher_path(@teacher),class:"btn btn-secondary w-25"%>
			<%= link_to :Delete, teacher_path(@teacher), method: :delete , data:{ confirm: "Are you sure?"},class:"btn btn-danger w-25"%>
		</div>
	</div>
</div>