<!DOCTYPE html>
<html>
  <head>
    <title>SchoolMgnt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark">
    <div id="wrapper">
      <%= render 'layouts/header' %><br><br><br>
    </div>
    <%= yield %>
  </body>
</html>
